# Python + Eclipse
*.pyc
*.pyo
*.py~
*.xm~
.project
.pydevproject
.settings/

# Git cacharra
*.orig

# sqlite3
*.db

*.idea

# dotfiles
.*
!.gitignore
!.mailmap
# compiled python files
*.py[co]
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
